
/***** Generales *****/
.secondColor
{
    color: #1B75BC;
}

.secondBackColor
{
    background-color: #1B75BC;
}

a, a:visited
{
    color: #1B75BC;
}



/***** Header  *****/
#search button
{
    color: #1B75BC;
}

#search button:hover
{
    background-color: #1B75BC;
    color: #FFFFFF;
}

#header .menu a:hover, #header .menu a.selected
{
    /*background-color: #1B75BC;*/
     background-image:url('images/menuBack.png');
}


/***** ColumnaDerecha  *****/
#ColumnaDerecha h1
{
    background-color: #1B75BC;
    color: #FFFFFF;
}

#ColumnaDerecha h1
{
    background-color: #1B75BC;
    color: #FFFFFF;
}




/******  ColumnaIzquierda   ******/

#Contenido h1, #Busqueda h1
{
    border-bottom: solid 1px #1B75BC;
}

#Contenido h1
{
    color: #1B75BC;
}

#Contenido h2
{
    border-color: #1B75BC;
}




/***** menuAcciones  *****/
#menuAcciones button
{
    color: #1B75BC;
}

#menuAcciones button:hover, #menuAcciones button.selected
{
    background-color: #1B75BC;
    color: #FFFFFF;
}


/****** Submenu ******/

#submenu li:hover
{
    background-color: #1B75BC;
    color: #FFFFFF;
}

/** tablaResultados **/
#tablaResultados td
{
    border: 1px solid white;
}

.tablaResultados_Header td
{
    background-color: #E3E3E3;
    border-color: #E3E3E3;
}

.tablaResultados_Footer
{
    color: #4D4D4D;
}

.tablaResultados_Alternate td
{
    background-color: #F3F3F3;
    border-color: #F3F3F3;
}

.tablaResultados_Item td
{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.tablaResultados_Pager a, .tablaResultados_Pager a:visited
{
    background-color: #FFFFFF;
    color: #3C3985;
}

.tablaResultados_Pager a:hover, .tablaResultados_Pager span
{
    background-color: #3C3985;
    color: #FFFFFF;
}

.tablaResultados_Selected td
{
    border-color: #FFFEBB;
    background-color: #FFFEBB;
}

.tablaResultados_Over td
{
    background-color: #FFFEBB;
    border-color: #FFFEBB;
}

